<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JAVAStudy_Thread_together/src/JAVA_高级主题/Volatile.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="JAVA_高级主题.Volatile"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JAVAStudy_Thread_together"/>
</launchConfiguration>
